{
  "compact": false,
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      // @babel/plugin-proposal-decorators should comes
      // before @babel/plugin-proposal-class-properties
      // see https://babeljs.io/docs/en/babel-plugin-proposal-decorators#legacy
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "dynamic-import-webpack",
    "transform-vue-jsx"
  ]
}
