@import "mixins/mixins";
@import "common/var";

@mixin tree-scrollbar {
  &::-webkit-scrollbar {
    width: $--space-undersized;

    &-thumb {
      border-radius: 2px;
      width: $--space-undersized;
      background-color: $--background-color-border;
    }
  }

  &::-webkit-scrollbar-track-piece {
    width: $--space-undersized;
    background-color: transparent;
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }
}

@include b(big-data-tree) {
  overflow-y: scroll;
  overflow-x: hidden;
  @include tree-scrollbar;

  @include e(search) {
    display: flex;
    padding: $--space-mini;
    border-top: 1px solid $--background-color-border;
    border-bottom: 1px solid $--background-color-border;

    .rz-input__inner {
      border: 0;
      border-radius: 0;
    }

    .rz-button {
      border: 0;
      min-width: 0;
    }
  }

  @include e(search-empty) {
    height: 100%;
  }

  @include e(search-result) {
    max-width: 100%;
    padding-top: $--space-small;
    padding-bottom: $--space-mini;
    padding-left: $--space-mini;
    font-size: $--font-size-base;
    color: $--color-text-placeholder;
    span:nth-child(2) {
      margin: 0 $--space-mini;
    }
  }

  @include e(search-empty-info) {
    color: $--color-text-secondary;
    font-size: $--font-size-large;
    display: flex;
    justify-content: center;
    padding-top: $--space-large;
  }

  @include e(container) {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

@include b(big-data-tree-node) {
  outline: none;
  width: 100%;

  @include e(indicator) {
    cursor: pointer;
    display: inline-flex !important;
    height: 20px !important;
    padding-top: -4px;
    align-items: center;
    margin-right: $--space-mini - 2;
    transition: all 0.3s;
    font-size: $--font-size-base;

    @include m(expanded) {
      transform: rotate(90deg);
    }

    i {
      font-size: 18px;
      margin: 0;
      margin-right: $--space-mini;
    }
  }

  $--hover-bg-color: #4285f4;
  @include e(content) {
    color: $--color-text-regular;
    cursor: default;
    box-sizing: border-box;
    padding: $--space-mini 0;
    height: $--space-base + $--space-mini * 2;
    // display: block;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    & > * {
      height: 100%;
    }

    &:hover {
      background-color: $--background-color-form;
    }

    &:active {
      outline: none;
      box-shadow: 0 0 0 transparent;
    }
  }

  @include e(checkbox) {
    margin-right: $--space-mini !important;
    display: inline-flex !important;
    align-items: center !important;
  }

  @include e(text) {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    // vertical-align: baseline;
    line-height: 24px;
    height: 100%;
    margin-right: $--space-mini - 4;
    &.is-highlight {
      color: $--color-primary;
    }
  }

  @include e(statistics) {
    margin-right: $--space-mini;
    line-height: 24px;
    & > span {
      color: $--color-primary;
    }
  }

  @include e(icon) {
    font-size: $--font-size-extra-large;
    margin-right: $--space-mini;
    &.iconfont {
      line-height: 24px;
    }
    
    // vertical-align: -2px !important;
    &.is-highlight {
      color: $--color-primary;
    }
  }

  @include e(child) {
    overflow-y: scroll;
    overflow-x: hidden;
    // 隐藏滚动条
    &::-webkit-scrollbar {
      width: 0 !important;
    }
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

    transition: all 0.3s;

    &.is-expanded {
      height: auto;
    }
  }

  &.is-leaf {
    @include e(content) {
      padding-left: $--space-mini + 2;
    }
  }
}
