@import "common/var";
@import "mixins/mixins";
@import "mixins/_button";
@import "mixins/utils";

@include b(checkbox) {
  cursor: pointer;
  color: $--checkbox-font-color;
  font-weight: $--checkbox-font-weight;
  font-size: $--font-size-base;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  user-select: none;
  margin-right: $--space-medium;

  @include when(circle) {
    .rz-checkbox__inner,
    .rz-checkbox__input {
      border-radius: 50%;
    }
  }

  @include when(bordered) {
    padding: $--checkbox-bordered-padding;
    border-radius: $--border-radius-base;
    border: $--border-color-base;
    box-sizing: border-box;
    line-height: normal;
    height: $--checkbox-bordered-height;

    &.is-checked {
      border-color: $--color-primary;
    }

    &.is-disabled {
      border-color: $--border-color-lighter;
      cursor: not-allowed;
    }

    & + .rz-checkbox.is-bordered {
      margin-left: 10px;
    }

    &.rz-checkbox--medium {
      padding: $--checkbox-bordered-medium-padding;
      border-radius: $--button-medium-border-radius;
      height: $--checkbox-bordered-medium-height;

      .rz-checkbox__label {
        line-height: 17px;
        font-size: $--button-medium-font-size;
      }

      .rz-checkbox__inner {
        height: $--checkbox-input-height;
        width: $--checkbox-input-width;
      }
    }

    &.rz-checkbox--small {
      padding: $--checkbox-bordered-small-padding;
      border-radius: $--button-small-border-radius;
      height: $--checkbox-bordered-small-height;

      .rz-checkbox__label {
        line-height: 15px;
        font-size: $--button-small-font-size;
      }

      .rz-checkbox__inner {
        height: $--checkbox-bordered-small-input-height;
        width: $--checkbox-bordered-small-input-width;

        &::after {
          height: 6px;
          width: 2px;
        }
      }
    }

    &.rz-checkbox--mini {
      padding: $--checkbox-bordered-mini-padding;
      border-radius: $--button-mini-border-radius;
      height: $--checkbox-bordered-mini-height;

      .rz-checkbox__label {
        line-height: 12px;
        font-size: $--button-mini-font-size;
      }

      .rz-checkbox__inner {
        height: $--checkbox-bordered-mini-input-height;
        width: $--checkbox-bordered-mini-input-width;

        &::after {
          height: 6px;
          width: 2px;
        }
      }
    }
  }

  @include e(input) {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 10px;
    position: relative;
    vertical-align: middle;

    &:not(.is-disabled):hover {
      box-shadow: $--checkbox-box-shadow;
    }

    @include when(disabled) {
      .rz-checkbox__inner {
        // background-color: rgba($--background-color-border, 0.5);
        border-color: rgba($--checkbox-disabled-input-border-color, 0.7);
        cursor: not-allowed;

        &::after {
          cursor: not-allowed;
          border-color: $--checkbox-disabled-icon-color;
        }

        &:hover {
          &::before {
            transform: translate(-50%, -50%) scale(0);
          }
        }

        & + .rz-checkbox__label {
          cursor: not-allowed;
        }
      }

      &.is-checked {
        .rz-checkbox__inner {
          background-color: transparent;
          // border-color: $--checkbox-disabled-checked-input-border-color;
          border-color: rgba($--color-primary-hover, 0.3);

          &::after {
            // border-color: $--checkbox-disabled-checked-icon-color;
            border-color: $--checkbox-disabled-checked-icon-color;
          }
        }
      }

      &.is-indeterminate {
        .rz-checkbox__inner {
          background-color: $--checkbox-disabled-checked-input-fill;
          border-color: $--checkbox-disabled-checked-input-border-color;

          &::before {
            background-color: $--checkbox-disabled-checked-icon-color;
            border-color: $--checkbox-disabled-checked-icon-color;
          }
        }
      }

      & + span.rz-checkbox__label {
        color: $--color-text-contrast; // todo
        cursor: not-allowed;
      }
    }

    @include when(checked) {
      .rz-checkbox__inner {
        // background-color: $--checkbox-checked-input-background-color;
        border-color: $--checkbox-checked-input-border-color;

        &::after {
          transform: rotate(45deg) scaleY(1);
          border-color: $--color-primary-hover;
        }
      }

      & + .rz-checkbox__label {
        // color: $--checkbox-checked-font-color;
      }
    }

    @include when(focus) {
      /*focus时 视觉上区分*/
      .rz-checkbox__inner {
        border-color: $--checkbox-input-border-color-hover;
      }
    }

    @include e(inner) {
      display: inline-block;
      position: relative;
      border: $--checkbox-input-border;
      border-radius: $--checkbox-input-border-radius;
      box-sizing: border-box;
      width: $--checkbox-input-width;
      height: $--checkbox-input-height;
      // background-color: $--background-color-base;
      // background-color: $--checkbox-input-background-color;
      background-color: transparent;
      z-index: $--index-normal;
      transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46),
        background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);

      &:hover {
        border-color: $--checkbox-input-border-color-hover;
        // &::before {
        //   transform: translate(-50%, -50%) scale(1);
        // }
      }

      &::after {
        box-sizing: content-box;
        content: "";
        border: 2px solid $--color-primary-hover;
        border-left: 0;
        border-top: 0;
        height: 9px;
        left: 5px;
        position: absolute;
        top: 1px;
        transform: rotate(45deg) scaleY(0);
        width: 4px;
        transition: transform 0.15s ease-in 0.05s;
        transform-origin: center;
      }

      // &::before{
      //   width: 26px;
      //   height: 26px;
      //   border-radius: $--checkbox-input-border-radius;
      //   background-color: $--radio-button-checked-background-color;
      //   content: "";
      //   position: absolute;
      //   left: 50%;
      //   top: 50%;
      //   z-index: -1;
      //   opacity: 0.2;
      //   transform: translate(-50%, -50%) scale(0);
      // }
    }

    @include when(indeterminate) {
      .rz-checkbox__inner {
        background-color: transparent;
        border-color: $--checkbox-checked-input-border-color;

        &::before {
          content: "";
          position: absolute;
          display: block;
          background-color: $--color-primary;
          height: 4px;
          transform: scale(0.5);
          left: 0;
          right: 0;
          top: 6px;
          width: 100%;
          opacity: 1;
        }

        &::after {
          display: none;
        }
      }
    }
  }

  @include e(original) {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    z-index: -1;
  }

  @include e(label) {
    display: inline-block;
    padding-left: $--space-mini;
    line-height: $--space-base;
    font-size: $--checkbox-font-size;
  }

  &:last-child {
    margin-right: 0;
  }
}

@include b(checkbox-button) {
  position: relative;
  display: inline-block;

  @include e(inner) {
    display: inline-block;
    line-height: 1;
    font-weight: $--checkbox-font-weight;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background: $--button-default-background-color;
    border: $--border-base;
    border-left: 0;
    color: $--button-default-font-color;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    position: relative;
    transition: $--all-transition;
    @include utils-user-select(none);

    @include button-size(
      $--button-padding-vertical,
      $--button-padding-horizontal,
      $--font-size-base,
      0
    );

    &:hover {
      color: $--color-primary;
    }

    & [class*="rz-icon-"] {
      line-height: 0.9;

      & + span {
        margin-left: 5px;
      }
    }
  }

  @include e(original) {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    z-index: -1;
  }

  &.is-checked {
    & .rz-checkbox-button__inner {
      color: $--checkbox-button-checked-font-color;
      background-color: $--checkbox-button-checked-background-color;
      border-color: $--checkbox-button-checked-border-color;
      box-shadow: -1px 0 0 0 $--color-primary-light-4;
    }

    &:first-child .rz-checkbox-button__inner {
      border-left-color: $--checkbox-button-checked-border-color;
    }
  }

  &.is-disabled {
    & .rz-checkbox-button__inner {
      color: rgba($--color-white, 0.3);
      cursor: not-allowed;
      background-image: none;
      background-color: rgba($--button-disabled-background-color, 0.3);
      border-color: rgba($--color-primary, 0.3);
      box-shadow: none;
    }
    &:first-child .rz-checkbox-button__inner {
      border-left-color: rgba($--color-primary, 0.3);
    }
  }

  &:first-child {
    .rz-checkbox-button__inner {
      border-left: $--border-base;
      border-radius: $--border-radius-base 0 0 $--border-radius-base;
      box-shadow: none !important;
    }
  }

  &.is-focus {
    & .rz-checkbox-button__inner {
      border-color: $--checkbox-button-checked-border-color;
    }
  }

  &:last-child {
    .rz-checkbox-button__inner {
      border-radius: 0 $--border-radius-base $--border-radius-base 0;
    }
  }

  @include m(medium) {
    .rz-checkbox-button__inner {
      @include button-size(
        $--checkbox-button-medium-padding-vertical,
        $--checkbox-button-medium-padding-horizontal,
        $--font-size-base,
        0
      );
    }
  }

  @include m(small) {
    .rz-checkbox-button__inner {
      @include button-size(
        $--checkbox-button-small-padding-vertical,
        $--checkbox-button-small-padding-horizontal,
        $--button-medium-font-size,
        0
      );
    }
  }

  @include m(mini) {
    .rz-checkbox-button__inner {
      @include button-size(
        $--button-mini-padding-vertical,
        $--button-mini-padding-horizontal,
        $--button-mini-font-size,
        0
      );
    }
  }
}

@include b(checkbox-group) {
  font-size: 0;
}
