@import "mixins/mixins";
@import "common/var";

// 数据为空
@include b(placeholder) {
  min-height: 336px;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include e(empty-text) {
    // min-height doesn't work in IE10 and IE11 https://github.com/philipwalton/flexbugs#3-min-height-on-a-flex-container-wont-apply-to-its-flex-items
    // set empty text line height up to contrainer min-height as workaround.
    line-height: 48px;
    color: $--color-text-secondary;
    font-size: $--font-size-base;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // transform: translateY(50%);

    @include m(image) {
      background: url('#{$--img-path}/emptyBackground.png') no-repeat center/cover;
      margin: 0 auto;
      width: 220px;
      height: 220px;
      border-radius: 50%;
      background-position: center;
    }
    p {
      margin: $--space-small 0 0 0;
      line-height: 1;
    }
  }
}