@import "mixins/mixins";
@import "mixins/_button";
@import "common/var";

@include b(radio-button) {
  position: relative;
  display: inline-block;
  outline: none;

  @include e(inner) {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
    background: $--button-default-background-color;
    border: $--border-base;
    font-weight: $--button-font-weight;
    border-left: 0;
    color: $--color-text-secondary;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    position: relative;
    cursor: pointer;
    transition: $--all-transition;

    @include button-size(
      $--button-padding-vertical,
      $--button-padding-horizontal,
      $--radio-button-font-size,
      0
    );

    &:hover {
      color: $--color-primary;
      border-color: $--color-primary;
    }

    & [class*="rz-icon-"] {
      line-height: 0.9;

      & + span {
        margin-left: 5px;
      }
    }
  }

  &:first-child {
    .rz-radio-button__inner {
      border-left: 1px solid $--background-color-border;
      border-radius: $--border-radius-base 0 0 $--border-radius-base;
      box-shadow: none !important;
      &:hover {
        border-left-color: $--color-primary;
      }
    }
  }

  @include e(orig-radio) {
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;

    &:checked {
      & + .rz-radio-button__inner {
        color: $--radio-button-checked-font-color;
        background-color: $--radio-button-checked-background-color;
        border-color: $--radio-button-checked-border-color;
        box-shadow: -1px 0 0 0 $--radio-button-checked-border-color;
      }
    }

    &:disabled {
      & + .rz-radio-button__inner {
        color: rgba($--color-white, 0.3);
        cursor: not-allowed;
        background-image: none;
        background-color: rgba($--color-primary, 0.3);
        border-color: rgba($--color-primary, 0.3);
        box-shadow: none;
      }
      &:checked + .rz-radio-button__inner {
        background-color: $--radio-button-disabled-checked-fill;
      }
    }
  }

  &:last-child {
    .rz-radio-button__inner {
      border-radius: 0 $--border-radius-base $--border-radius-base 0;
    }
  }

  &:first-child:last-child {
    .rz-radio-button__inner {
      border-radius: $--border-radius-base;
    }
  }

  @include m(large) {
    & .rz-radio-button__inner {
      @include button-size(
        $--radio-button-large-padding-vertical,
        $--radio-button-large-padding-horizontal,
        $--button-medium-font-size,
        0
      );
    }
  }

  @include m(medium) {
    & .rz-radio-button__inner {
      @include button-size(
        $--radio-button-medium-padding-vertical,
        $--radio-button-medium-padding-horizontal,
        $--button-medium-font-size,
        0
      );
    }
  }
  @include m(small) {
    & .rz-radio-button__inner {
      @include button-size(
        $--radio-button-small-padding-vertical,
        $--radio-button-small-padding-horizontal,
        $--button-small-font-size,
        0
      );
    }
  }
  @include m(mini) {
    & .rz-radio-button__inner {
      @include button-size(
        $--button-mini-padding-vertical,
        $--button-mini-padding-horizontal,
        $--button-mini-font-size,
        0
      );
    }
  }

  &:focus:not(.is-focus):not(:active):not(.is-disabled) {
    /*获得焦点时 样式提醒*/
    box-shadow: 0 0 2px 2px $--radio-button-checked-border-color;
  }
}
