@import "../common/var";

@include b(date-range-picker) {
  width: 646px;

  &.has-sidebar {
    width: 756px;
  }

  table {
    table-layout: fixed;
    width: 100%;
  }

  .rz-picker-panel__body {
    min-width: 513px;
  }

  .rz-picker-panel__content {
    margin: 0;
  }

  @include e(header) {
    position: relative;
    text-align: center;
    height: 28px;
    margin-bottom: $--space-mini;

    [class*="arrow-left"] {
      float: left;
    }

    [class*="arrow-right"] {
      float: right;
    }

    div {
      font-size: 16px;
      font-weight: 500;
      margin-right: 50px;
    }
  }

  @include e(content) {
    float: left;
    width: 50%;
    box-sizing: border-box;
    margin: 0;
    padding-top: $--space-large;
    padding-bottom: $--space-large;
    padding-left: $--space-large / 2;
    padding-right: $--space-large / 2;
    background: $--background-color-secondary;

    @include when(left) {
      // border-right: 1px solid $--datepicker-inner-border-color;
      padding-left: $--space-large;
    }

    @include when(right) {
      padding-right: $--space-large;
    }
    .rz-date-range-picker__header {
      div {
        margin-left: 50px;
        margin-right: 50px;
      }
    }
  }

  @include e(editor) {
    &.rz-input {
      .rz-input__inner {
        height: 32px;
        border-radius: 0;
        background: transparent;
      }
    }
  }

  @include e(editors-wrap) {
    box-sizing: border-box;
    // display: table-cell;
    display: inline-flex;

    @include when(right) {
      text-align: right;
    }
  }

  @include e(time-header) {
    position: relative;
    font-size: 12px;
    padding: $--space-small $--space-medium;
    // margin-bottom: $--space-small;
    display: table;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid $--background-color-border;

    > .rz-icon-arrow-right {
      font-size: 20px;
      vertical-align: middle;
      display: table-cell;
      &::before {
        margin: 0 $--space-small;
        content: "—";
        color: $--background-color-border;
      }

      color: $--datepicker-icon-color;
    }
  }

  @include e(time-picker-wrap) {
    position: relative;
    display: table-cell;
    // padding: 0 5px;
    padding: 0;

    &:first-child {
      margin-right: $--space-mini;
    }

    .rz-input__inner {
      border-color: $--background-color-border;
    }
    .rz-picker-panel {
      position: absolute;
      top: 13px;
      right: 0;
      z-index: 1;
      background: $--color-white;
    }
  }
}
